/*##########
Tuning Stats
##########*/

.stats-block {
  width: 100%;
  max-width: 480px;
}

.stats-container {
  background: var(--main--red);
  color: white;
  border-radius: 8px;
  padding: clamp(0.75em, 2vw, 1.5em);
  width: 95%;
  max-width: 480px;
  aspect-ratio: 3 / 1;
  margin: 16px auto;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.stats-title {
  font-size: 1.4em;
  margin-bottom: clamp(12px, 2vw, 16px);
  margin-top: clamp(6px, 1vw, 8px);
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(4px, 1.5vw, 8px);
}

.stat-item {
  background: rgba(255, 255, 255, 0.1);
  padding: clamp(5px, 1.2vw, 8px);
  border-radius: 4.8px;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.stat-label {
  font-weight: 500;
}

.stat-value {
  font-weight: 500;
}

.in-tune-stat {
  color: var(--main--green);
}