/*##############
Dropdown buttons
##############*/

label {
  font-weight: 500;
  color: white;
  margin-right: 8px;
}

.select-container {
  width: 100%;
  max-width: 480px;
  aspect-ratio: 15 / 1;
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 20px;
  margin-bottom: 1em;
}

.select-container > div {
  display: flex; 
  align-items: center;
  justify-content: center;
  /* Ensure each div is the same size */
  height: 100%;
  width: 50%
}

.select-box {
  width: 100%;
  height: 100%;
}

.custom-select {
  background-color: var(--main--color); 
  color: white; 
  border: 1px solid transparent;
  border-radius: 0.75em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  max-width: 112px;
  height: 100%;
  min-height: 28px;
  box-sizing: border-box;
}

.custom-select:hover {
  background-color: var(--hover--color);
}

.custom-select option {
  background-color: var(--main--color);
  color: white;
}

.custom-select option:hover {
  background-color: var(--hover--color);
}


/*############
Tuning Buttons
############*/

.tuning-name-label {
  font-size: 1.2em;
  font-weight: 500;
}

.tuning-layout-container {
  text-align: center;
  margin-top: 1em;
}

.tuning-content {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
}

.tuning-button {
  margin: 15.2px 0;
  border-radius: 32px;
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: var(--main--color);
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 374px) {
  .tuning-button {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 350px) {
  .tuning-button {
    width: 35px;
    height: 35px;
  }
}

.tuning-button.close {
  background-color: var(--main--yellow);
}
.tuning-button.close:hover {
  background-color: var(--hover--yellow);
}

.tuning-button.in {
  background-color: var(--main--green);
}
.tuning-button.in:hover {
  background-color: var(--hover--green);
}

.tuning-button.out {
  background-color: var(--main--color);
}
.tuning-button.out:hover {
  background-color: var(--hover--color);
}

.is-target {
  border: 2.4px solid white;
}

.left-buttons,
.right-buttons {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 39.2px 0;
}

.guitar-image-container {
  width: 80%;
}

.guitar-image {
  width: 100%;
  max-width: 240px;
}