#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.6rem;
  text-align: center;
}

:root {
  --main--red: #700b0b;
  --hover--red: #500e0e;
  --main--green: #1c9738;
  --main--yellow: #f9f61f;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
}

h1 {
  margin-top: 0px; 
  font-size: 2.56em;
}

/*##############
Dropdown buttons
##############*/

label {
  font-size: 0.8em;
  font-weight: 500;
  color: white;
  margin-right: 8px;
}

.select-container {
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 20px; 
}

.select-container > div {
  display: flex; 
  align-items: center;
  justify-content: center;
  /* Ensure each div is the same size */
  height: 32px;
  width: 215px;
}

.custom-select, .tuning-select {
  background-color: var(--main--red); 
  color: white; 
  border: 1px solid transparent;
  border-radius: 6.4px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 112px;
  height: 32px;
  box-sizing: border-box;
}

.custom-select:hover {
  background-color: var(--hover--red);
}

.custom-select option {
  background-color: var(--main--red);
  color: white;
}

.custom-select option:hover {
  background-color: var(--hover--red);
}

/*##########
Start Button
##########*/

.button, .start-button {
  border-radius: 6.4px; 
  border: 1px solid transparent;
  padding: 0.48em 0.96em;
  margin-top: 16px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main--red);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: white;
  height: 32px;
  width: 105px;
}

.button:hover {
  background-color: var(--hover--red);
}

.listening {
  background-color: var(--main--green);
}

.listening:hover {
  background-color: #0f4e1e;
}

.start-button:not(.listening):hover {
  background-color: var(--hover--red);
}

/*###########
Tuning Visual
###########*/

.container {
  background: #413e3e;
  width: 480px;
  height: 160px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.line {
  width: 4px;
  height: 120px;
  background-color: white;
  position: absolute;
  left: 50%;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.value-label {
  position: absolute;
  left: 8px;
  top: -9.6px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 1.6px 4px;
  border-radius: 3.2px;
  white-space: nowrap;
}

.flat-icon, .sharp-icon {
  position: absolute;
  top: 4px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.flat-icon {
  left: 8px;
}

.sharp-icon {
  right: 8px;
}

.recording-icon {
  position: absolute;
  right: 12px;
  bottom: -32px;
  width: 9.6px;
  height: 9.6px;
  border-radius: 50%;
  background-color: red;
  transition: opacity 0.3s ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 4px red;
  }
  100% {
    box-shadow: 0 0 12px red;
  }
}

/*################
Auto Detect Button
################*/

.auto-detect-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-container {
  cursor: pointer;
}

.switch-track {
  width: 40px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  position: relative;
  transition: background-color 0.3s ease;
}

.switch-track.active {
  background-color: #4caf50;
}

.switch-thumb {
  width: 19.2px;
  height: 19.2px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2.4px;
  left: 2.4px;
  transition: transform 0.3s ease;
}

.switch-track.active .switch-thumb {
  transform: translateX(16px);
}

.switch-label {
  margin-left: 8px;
  font-weight: 500;
}

/*############
Tuning Buttons
############*/

.tuning-layout-container {
  text-align: center; 
}

.tuning-content {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
}

.tuning-button {
  margin: 15.2px 0;
  border-radius: 32px;
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: var(--main--red);
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tuning-button.close {
  background-color: var(--main--yellow);
}

.tuning-button.in {
  background-color: var(--main--green);
}

.tuning-button.out {
  background-color: var(--main--red);
}

.is-target {
  border: 2.4px solid white;
}

.left-buttons,
.right-buttons {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 39.2px 0;
}

.guitar-image {
  max-width: 240px;
  margin: 0 16px;
}

/*##########
Tuning Stats
##########*/

.stats-container {
  background: var(--main--red);
  color: white;
  border-radius: 8px;
  padding: 12px;
  max-width: 480px;
  margin: 16px auto;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.stats-title {
  font-size: 1.2em;
  margin-bottom: 16px;
  margin-top: 8px;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.stat-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 6.4px;
  border-radius: 4.8px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.stat-label {
  font-weight: 500;
}

.stat-value {
  font-weight: 500;
}

.in-tune-stat {
  color: var(--main--green);
}