/*##########
Start Button
##########*/

.button, .start-button {
  border-radius: 6.4px; 
  border: 1px solid transparent;
  padding: 0.48em 0.96em;
  margin-top: 16px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main--red);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: white;
  height: 32px;
  width: 105px;
}

.button:hover {
  background-color: var(--hover--red);
}

.listening {
  background-color: var(--main--green);
}

.listening:hover {
  background-color: #0f4e1e;
}

.start-button:not(.listening):hover {
  background-color: var(--hover--red);
}